.container{
    text-align: center;
    padding: 200px 0px ;
}
.container a{
    padding: 30px;
    margin-bottom: -50px;
    font-size: 20px;
    color: aliceblue;
}
.background{
    background-color: pink;
    height: 100px;
    width: 50%;
    margin-left: 280px;
    padding-top: 35px;
    border-radius: 10px;
    border: 3px solid palevioletred;
}
.container a:hover{
    text-decoration: none;
    color: rgb(194, 83, 101, 0.1);
}