body {
    font-family: 'Tilt Neon', cursive;
}

.form-group {
    margin-left: 170px;
}

button {
    margin-left: 176px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: rgb(56, 151, 214);
    margin-top: 10px;
    color: aliceblue;
}

input {
    height: 35px;
    border-radius: 5px;
    margin: 5px;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0 20px;
}

.form-control:focus {
    border-color: #6a5af9;
}

.container {
    box-shadow: 5px 5px 5px rgb(233, 233, 162);
    background-color: antiquewhite;
    height: 550px;
    width: 900px;
    margin-left: 150px;
    border-radius: 20px;
}

#result {
    /* margin-right: -100px; */
    border: 3px solid pink;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: aliceblue;
    height: 150px;


}

.background {
    box-shadow: 2px 2px 5px rgb(184, 178, 196);
    border: 1px solid rgb(255, 255, 255);
    width: 80%;
    border-radius: 10px;
    background-color: aliceblue;
    margin-bottom: 10px;
    box-shadow: 10px 0px rgb(51, 51, 226) inset;
}

h4 {
    margin-left: 20px;
}

p {
    margin-left: 20px;
}